<div>
    <div class="row no-gutters mt-3">
        <div class="col-lg-6 p-2">
            <div class="card">
                <div class="card-header">
                    Encryption
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="encryption">Enter Text<span class="text-danger ml-1">*</span></label>
                        <input type="text" class="form-control" id="encryption" name="encryption">
                        <p class="m-0 mt-1 font-12" id="encrypt_alert"></p>
                    </div>
                    <button type="button" class="btn btn-primary" id="encrypt_butt" onclick="encryption()">Convert</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 p-2">
            <div class="card">
                <div class="card-header">
                    Decryption
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="decryption">Enter Text<span class="text-danger ml-1">*</span></label>
                        <input type="text" class="form-control" id="decryption" name="decryption">
                        <p class="m-0 mt-1 font-12" id="decrypt_alert"></p>
                    </div>
                    <button type="button" class="btn btn-primary" id="decrypt_butt" onclick="decryption()">Convert</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="/js/cipher.js"></script>