<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astralis Form</title>

    <!-- Required Css Files -->

    <link href="/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/datatables.min.css" rel="stylesheet" />
    <link href="/css/main-style.css?v=1" rel="stylesheet" />

    <!-- Required Js files -->

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/sweetalert2.all.js"></script>
    <script src="/js/datatables.min.js"></script>
</head>

<body>
   
        <%- body %>
</body>

</html>