<div class="row no-gutters pl-3 pr-3 pt-5">

    <div class="container-fluid">
        <div class="row page-titles mb-2">
            <div class="col-md-7">
                <h4 class="text-themecolor title-head"><i class="fa fa-credit-card card-style"
                        aria-hidden="true"></i></i> Manage Payments</h4>
            </div>
            <div class="col-md-5 text-right">
                <button class="btn btn-sm btn-primary" onclick="openModal(1)"><i class="fa fa-plus-square"></i>
                    Add</button>
                <button class="btn btn-sm btn-secondary" onclick="loadPage()"><i class="fa fa-refresh"></i>
                    Refresh</button>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="text-themecolor title-head font-14 mt-2">Total Count(s): <span
                                        class="totalCount"></span></h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="paymentTable" class="display nowrap table table-hover table-bordered"
                                        cellspacing="0" width="100%">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/payment.js"></script>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    id="paymentModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" action="javascript:void(0)">
                    <div class=" form-group">
                        <label for="name">Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
                        <p class="m-0 mt-1 font-12 text-danger" id="name_alert"></p>
                    </div>
                    <div class="form-group">
                        <label for="acc_num">Account Number<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="acc_num" name="acc_nam" maxlength="16" onkeypress="return isNumber(event)">
                        <p class="m-0 mt-1 font-12 text-danger" id="acc_alert"></p>
                    </div>
                    <div class="form-group">
                        <label for="ifsc">IFSC<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="ifsc" name="ifsc" aria-describedby="emailHelp">
                        <p class="m-0 mt-1 font-12 text-danger" id="ifsc_alert"></p>
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="amount" name="amount" minlength="3" maxlength="4">
                        <p class="m-0 mt-1 font-12 text-danger" id="amount_alert"></p>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="payment_add_butt" onclick="proceedPayment('add')">Add</button>
                <button type="button" class="btn btn-primary d-none" id="payment_update_butt" onclick="proceedPayment('update')">update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>