body {
	font-family: Poppins, sans-serif !important;
	line-height: 1.5;
	color: #212529;
    background-color: #edf1f5;
    font-size: 14px !important;
}
.right_menu .notif-menu.open, .right_menu .task-menu.open, .right_menu .menu-app.open, #leftsidebar{
	font-family: Poppins, sans-serif !important;

}

.card .body{
    padding: 10px 6px;
}
h1, h2, h3, h4, h5, h6, p{
    cursor:default;
}
.btn-default {
    background: #fff !important;
    border: 1px solid #d23e2d;
    color: #d23e2d;
    border-radius: 3px;
}

.btn-default:hover{
    background: #faebe9 !important;

}
.users-modal .close{
    padding: 1rem 1rem;
    margin: -1rem -14rem -1rem auto;
}

.modal-content .user-modal button {
    right: 0px !important; 
     top: 0px !important;
}


.modal .users-modal .close {
    color: #FF3636;
    text-shadow: none;
    /* float: right !important; */
}

.modal-content .users-modal button {
    position: unset !important; 
    right: 0px; 
    top:0px;
    outline: 0;
}

.menu_sm section.content {
    margin-left: 104px;
}
.font-14{
    font-size: 14px !important;
}
.bg-white{
    background-color: #ffffff;
    color: rgb(33, 37, 41) !important;
}
/* Datatable Style */
table thead tr{
    background-color: #faebe9 !important;
    color: #ce362c;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    content: '\f0de';
    right: 7px;
    font-family: 'FontAwesome' !important;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: '\f0dd';
    right: 7px;
    font-family: 'FontAwesome' !important;
}

.pagination .page-item.disabled>.page-link{
    border: 0.001rem solid #e1e2e4 !important;
    margin: 0 !important;
    border-radius: 0 !important;
    box-shadow: none;
    background-color: #ffffff;
    color: #424242;
    opacity: 1;
    text-transform: capitalize;
}

.paging_simple_numbers .pagination .paginate_button.active a, .paging_simple_numbers .pagination .paginate_button:hover a{
    background-color: #666666 !important;
    border-radius: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
    border-color: #666666 !important;
}

.table-bordered thead td, .table-bordered thead th{
    border-bottom-width: 0px !important;
}

div.dataTables_wrapper div.dataTables_filter input{
    border: 1px solid #e9ecef;
    border-radius: 4px;
    height: 34px;
    width: 220px;
}
select.custom-select.custom-select-sm.form-control.form-control-sm {
    border: 1px solid #dddddd !important;
    background-color: #ffffff !important;
    height: 34px !important;
    border-radius: 4px;

}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td:focus{
    outline: none !important;
}

.card-header{
    border-bottom: 1px solid #ddd !important;
}


.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem !important;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem !important;
    border-top: 1px solid #e3e3e3 !important;
}
.font-18{
	font-size: 18px;
}

.modal-content {
    border-radius: .3rem !important;
}
.form-control, textarea{
    width: 100%;
    padding: .375rem .75rem !important;
    font-size: .875rem;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #e9ecef;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea:focus{
	outline: none ;
}
  body.theme-black.swal2-shown.swal2-height-auto{
    padding-right: 0px !important;
  }

  .table td {
    /* padding: .20rem 0.7rem !important; */
    padding: 9px 13px !important;
}

  section.content {
    margin: 0 0 0 290px;
  }

  /* .user-info:hover{
    background:#faebe9 !important;
  } */

  .card-alignments{
    margin-bottom:50px;
   }

   .swal2-popup .swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #3085d6 !important;
    color: #fff;
    font-size: 1.0625em;
}


.font-12{
    font-size: 12px;
}

.alert-danger{
    color: red;
}

button:focus{
    outline: none !important;
} 

button{
    cursor: pointer;
}

.paginate_button{
    cursor: pointer;
}

 .paging_simple_numbers .pagination .paginate_button:hover a{
    background-color: #ffffff !important;
    color: #000000;
    border-color: #edf1f5 !important;
}